.popup__save-button {
  position: relative;
  margin: 0;
  padding: 0;
  width: 358px;
  height: 51px;
  left: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 2px;
  /*opacity: 0.2;*/
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

@media screen and (max-width: 890px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    left: initial;
    margin: 0 auto;
  }
}