.popup__title {
  margin: 0;
  position: relative;
  left: 36px;
  width: 330px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 890px) {
  .popup__title {
    width: 238px;
    font-size: 18px;
    line-height: 22px;
    left: initial;
    margin: 0 auto;
  }
}