.profile-info {
  position: relative;
  width: 415px;
  padding-left: 30px;
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 18px;
  grid-template-columns: 373px 42px;
  grid-template-rows: 1fr 22px;
  margin: auto 0;
  box-sizing: border-box;
}

@media screen and (max-width: 890px) {
  .profile-info {
    padding-top: 26px;
    padding-bottom: 36px;
    width: inherit;
    padding-left: initial;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 14px;
    grid-column-gap: initial;
  }
}