.popup__input {
  position: relative;
  margin: 0;
  /*left: 36px;*/
  width: 358px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:focus {
  outline: none;  
}

@media screen and (max-width: 890px) {
  .popup__input {
    width: 238px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 17px;
    left: initial;
    padding-bottom: 9px;
  }
}