.header {
  width: 880px;
  height: 74px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-top: 45px;
}

@media screen and (max-width: 890px) {
  .header {
    width: 320px;
    padding-top: 28px;
  }
}